button {
	border: 1px solid lightgray;
	background-color: transparent;
	padding: 10px;
	border-radius: 4px;
	margin: 1rem 5px;
	color: #87b9db;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
}
