@import url('./components/Button_change.css');
@import url('./components/card.css');

* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
}

.space {
	margin-right: 10px;
}

.num-counter {
	color: #e37880;
}

h2 {
	padding: 1rem;
	color: #bb9eda;
}

.testo {
	color: #e37880;
}
